.pageTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  justify-content: space-between;
}

.formControl {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.error {
  color: #f92672;
}

.alert {
  margin-bottom: 15px;
}
